body {
  background: #efefef;
}

#weekview {
  padding-top: 50px;
}

.weekday-bubble {
  font-family: 'Roboto', sans-serif;
  width: 100px;
  height: 100px;
  background: #efefef;
  border: 1px solid #7faaef;
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  margin: 10px;
}

.weekday-bubble.slick-current {
  background: #7faaef;
}

.info-display {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.info-title {
  font-size: xx-large;
  text-align: center;
  padding: 20px;
}

.info-days {
  font-size: x-large;
  text-align: center;
  background: rgb(239, 239, 239);
  background: rgba(239, 239, 239, 0.9);
  border-radius: 90px;
  position: relative;
  top: -225px;
  width: 250px;
  padding: 25px;
  word-wrap: break-word;
  display: inline-block;
 
}

.info-img {
  margin: auto;
  opacity: 0.7;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url('');
  background-position: 50% 0%;
}

.slick-slider {
  margin: auto 250px auto 250px;
}

.arrow {
  stroke-width: 1;
  stroke: #7faaef;
}

.slick-arrow {
  width: 20px;
  height: 30px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 23px;
}
